.extra-info {
  width: 100%;
  padding-bottom: 40px;
}

.btn-row {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.content {
  background-color: #d7d7d7;
  color: #595959;
  padding: 11px 14px 8px;
}

ul {
  padding-left: 20px;
  margin: none;
}

.title {
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
}
