.patient-stats {
  border-top: 1px solid #d7d7d7;
}

.input-row {
  border-bottom: 1px solid #d7d7d7;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
}

.label {
  padding-right: 5px;
  flex: 1 1 50%;
  align-self: center;
}

.input-wrapper {
  flex: 1 1 50%;
}

.input-group {
  display: flex;
}

input {
  flex: 1 1 auto;
  border-radius: 4px 0 0 4px;
  width: 100%;
  font-size: 16px;
  color: #595959;
  padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.units {
  flex: 0 0 auto;
  border-radius: 0 4px 4px 0;
  background-color: #f0f0f0;
  border: 1px solid #d7d7d7;
  align-self: center;
  padding: 10px;
}

.btn-row {
  margin-top: 20px;
  text-align: center;
}

.calculate-btn {
  width: 300px;
  text-align: center;
  border: 1px solid silver;
  border-radius: 4px;
  background-color: #117d67;
  color: #fff;
  padding: 10px;
  margin: auto;
  cursor: pointer;
}

.disabled {
  background-color: #d7d7d7;
  cursor: default;
}
