.patient-stats {
  border-top: 1px solid #d7d7d7;
}

.input-wrapper .btn-row {
  margin: 0;
  text-align: center;
}

.input-row {
  border-bottom: 1px solid #d7d7d7;
  display: flex;
  padding: 8px 0;
}

.label {
  padding-right: 5px;
  flex: 1 1 50%;
  align-self: center;
}

.input-wrapper {
  flex: 1 1 50%;
}

.calculate-btn {
  width: 300px;
  text-align: center;
  border: 1px solid silver;
  border-radius: 4px;
  background-color: #117d67;
  color: #fff;
  padding: 10px;
  margin: auto;
  cursor: pointer;
}

.disabled {
  background-color: #d7d7d7;
  cursor: default;
}
